<mat-nav-list>
    <div class="logo py-4">
      <img src="/assets/photo1.jpg" alt="JEENISo Logo" />
    </div>
    <mat-divider></mat-divider>
    <h1 matSubheader class="mt-2">Admin dashboard</h1>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/users-list">
      <mat-icon>edit</mat-icon> Users list 
    </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> action 1  </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> action 2  </a>
    <!-- <a mat-list-item> <mat-icon>dashboard</mat-icon> action 3  </a> -->
  </mat-nav-list>
  